:root {
  /* Color */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-white: #e0e0e05b;
  --color-gray: #9c9c9c;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  box-sizing: border-box;
}

button {
  font-family: "Cabin", sans-serif;
}

body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  cursor: default;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}

/* Header */

#header {
  color: var(--color-white);
  background-color: var(--color-black);
  text-align: center;
}

#header p {
  margin: 0;
  padding: 5px;
}

/* Navbar */
#nav__ber {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-white);
  font-size: var(--font-small);
  padding: 20px 70px;
  align-items: center;
}

#nav__ber ul {
  display: flex;
}
.nav__title {
  font-weight: var(--weight-bold);
}

.nav__menu {
  display: flex;
}

.nav__menu__item {
  padding: 8px 12px;
}

.navbar__login {
  display: flex;
  align-items: center;
  font-size: var(--font-regular);
}

.nav__login-btn {
  border: none;
  padding: 8px 12px;
  background: none;
}

.getStarted {
  padding: 12px 16px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid;
  border-radius: 4px;
}

/* Home */
#home {
  background-color: var(--color-light-white);
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
}

.home__left {
  margin-top: 80px;
}

.home__Text {
  margin-bottom: 8px;
}

.home__Description {
  margin: 0;
  font-size: var(--font-micro);
  color: var(--color-gray);
}

.home__List {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 8px 0;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__item p {
  margin: 8px 16px;
  font-size: var(--font-micro);
}

.list__item img {
  width: 18px;
  height: 18px;
}

.home__input {
  padding: 12px;
  margin-right: 8px;
}

.home__right {
  display: flex;
  flex-direction: row-reverse;
}

.home__right img {
  width: 75%;
  height: 85%;
}
