:root {
  /* Color */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-white: #e0e0e05b;
  --color-gray: #6c6c6c;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  box-sizing: border-box;
}

button {
  font-family: "Cabin", sans-serif;
}

body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  cursor: default;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}

/* Header */

#header {
  color: var(--color-white);
  background-color: var(--color-black);
  text-align: center;
}

#header p {
  margin: 0;
  padding: 5px;
}

/* Navbar */
#nav__ber {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-white);
  font-size: var(--font-small);
  padding: 20px 70px;
  align-items: center;
}

#nav__ber ul {
  display: flex;
}
.nav__title {
  font-weight: var(--weight-bold);
}

.nav__menu {
  display: flex;
}

.nav__menu__item {
  padding: 8px 12px;
}

.navbar__login {
  display: flex;
  align-items: center;
  font-size: var(--font-regular);
}

.nav__login-btn {
  border: none;
  padding: 8px 12px;
  background: none;
}

.getStarted {
  padding: 12px 16px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid;
  border-radius: 4px;
}

/* Home */
#home {
  background-color: var(--color-light-white);
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
}

.home__left {
  margin-top: 80px;
}

.home__Text {
  margin-bottom: 8px;
}

.home__Description {
  margin: 0;
  font-size: var(--font-micro);
  color: var(--color-gray);
}

.home__List {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 8px 0;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__item p {
  margin: 8px 16px;
  font-size: var(--font-micro);
}

.list__item img {
  width: 18px;
  height: 18px;
}

.home__input {
  padding: 12px;
  margin-right: 8px;
}

.home__right {
  display: flex;
  flex-direction: row-reverse;
}

.home__right img {
  width: 75%;
  height: 85%;
}

/* Logo */
#logo {
  padding: 20px 70px;
}

.logo__bar {
  display: flex;
  justify-content: space-between;
}

.logo__box img {
  width: 100%;
  padding: 20px;
}

/* Main */
.main__top {
  margin: 0 80px;
  background-color: var(--color-light-white);
  background-image: url("Assets/Phone\ Mockup\ \(Desktop\).png");
  border-radius: 12px;
  height: 55vh;
  margin-bottom: 40px;
}

.main__topDescription {
  padding-top: 70px;
  padding-left: 130px;
}

.main__topDescription h2 {
  font-size: 38px;
  font-weight: var(--weight-semi-bold);
  margin-bottom: 0;
}

.main__topDescription p,
.main__bottomDescription p {
  font-size: var(--font-micro);
  color: var(--color-gray);
  margin-bottom: 0;
}

.main__topDescription h3,
.main__bottomDescription h3 {
  font-size: var(--font-micro);
}

.main__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.main__bottomImage {
  max-width: 50%;
  height: auto;
}

.main__bottomDescription h2 {
  font-size: 25px;
  font-weight: var(--weight-semi-bold);
  margin-bottom: 0;
}

.main__bottomDescription {
  padding: 40px;
}

/* Footer */
#footer {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}

.footer__item h4 {
  margin-bottom: 0;
}

.footer__item p,
li {
  color: var(--color-gray);
}
